@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  @apply font-lexend;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button:active,
input[type="password"]::-webkit-credentials-auto-fill-button:focus {
  display: none !important;
}

input:focus {
  outline: none;
}

*,
::before,
::after {
  border-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
